* {
  box-sizing: border-box;
}
article {
    display: block;
    margin-right: 30px;
}
.news-thumbs {
  display: flex;
   margin: 10px;
  padding: 20px;
}

.news-thumbs > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
div {
    display: block;
}

body {
  font-size: 15px;
  margin: 10px;
  background-color: pink;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Abril Fatface', Cursive;
  font-size: 60px;
  line-height: 68px;
}
h2 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
}
h3 {
  font-family: 'Abril Fatface', Cursive;
  font-size: 25px;
  line-height: 42px;
  font-weight: bold;
}
p, a {
   font-family: 'Poppins', Sans-Serif;
  font-size: 14px;
  
}

header h2 {
  font-weight: normal;
}

.button {
    display: inline-block;
    padding: 12px 16px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
    }
.feature, .new-thumbs {
  display: flex;
  flex-direction: column;
}
.feature div {
  flex: 1;
}
.no-widows {
  display: none;
}
.feature-content {
  padding-left: 30px;
}
header,
.feature-content {
  width: 90%;
  margin: auto;
}
.extra-content-blurb {
  display: none;
}
.hide-desktop {
  display: block;
}
.news-thumbs {
    display: flex;
    flex-direction: column;
}
  
  .extra-content-blurb {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  header {
    width: 80%;
    margin: auto;
  }
@media only screen and (min-width: 768px) {
  .news-thumbs {
    margin-top: 60px;
}

  h1 {font-size: 60px;
      line-height: 68px;
  }
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
  header h2 {font-weight: bold;}
  
  .feature, .feature-image {
    flex-direction: row;
    width: 80%;
    margin: 4px auto;
}
  .feature, .news-thumbs {
       flex-direction: row;
       margin: 0 auto;
       width: 90%;
      display: flex;
  }
  
  
  .feature .feature-content, .content-card {
    width: 90%;
    margin: auto;

}
  .feature div, .news-thumbs article {
    flex: 1;
  }

}










